<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Main</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToFollowing()">
        <ion-icon name="eye"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <canvas #lineCanvas></canvas>
    <ion-list *ngFor="let list of tickerLists; let listIndex = index">
      <button ion-item color="light" (click)="toggleShownList(listIndex)">
        {{list.title}}
        <ion-icon name="arrow-back" item-end *ngIf="!list.shown"></ion-icon>
        <ion-icon name="arrow-down" item-end *ngIf="list.shown"></ion-icon>
      </button>
      <span *ngIf="list.shown">
        <span *ngFor="let ticker of list.tickers; let tickerIndex = index">
          <button ion-item detail-none (click)="toggleShownTicker(listIndex, tickerIndex)">
            <h2 [style.color]="ticker.change > 0 ? 'green' : 'red'">
              {{ ticker.title }}
            </h2>
            <ion-icon name="arrow-back" item-end *ngIf="!ticker.shown"></ion-icon>
            <ion-icon name="arrow-down" item-end *ngIf="ticker.shown"></ion-icon>
          </button>
          <ion-item text-wrap *ngIf="ticker.shown">
            <p>
              {{ ticker.suggestion }}
            </p>
            <h1 [style.color]="ticker.change > 0 ? 'green' : 'red'">
              ${{ ticker.price }}
            </h1>
            <p [style.color]="ticker.change > 0 ? 'green' : 'red'">
              {{ ticker.change }}%
            </p>
            <button ion-button item-end (click)="goToStock(ticker)">
              View
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-item>
        </span>
      </span>
    </ion-list>
</ion-content>
